/*
    CSS Only Tooltips
    Author: Boban Radeski, HASELT
    Date: 08.26.2016
    Version: 1.0.0
*/

/* 
    Configurate Tooltip according to your need/design
    HOW TO CONFIGURE THE TOOLTIP:
    Insert/edit the value of the following variables to achieve the desired look of yout tooltip
        1. the width value of the tooltip: any number > 0
        2. set animation you like
        3. background color of the tooltip, any color in HEX color
        4. color of the text in the tooltip
        5. padding of text inside the tooltip, any value > 0
        6. text aling of the text in the tooltip: left, right, center
        7. border radisu of the tooltip, any number > 0
        9. the triangle next to tooltip, any value > 0
        9. the triangle background color, any HEX color
       10. tooltip font sizes
*/


$tooltip-width: 200px;
$tooltip-animation: all .2s ease-in-out;
$tooltip-bgcolor: rgba(65, 133, 217, 0.94);
$tooltip-text-color: #fff;
$tooltip-padding: 8px;
$tooltip-text-align: left;
$tooltip-border-radius: 0px;
$tooltip-triangle-size: 15px;
$tooltip-triangle-bgcolor: rgba(65, 133, 217, 0.76);
$tooltip-font-size: 16px;

/* position logic down here */
%make-it-invisible {
    opacity: 0;
    z-index: -1;
}

%make-it-visible {
    opacity: 1;
    z-index: 9999;
}

%disable-on-mobile {
    @media (max-width: 768px) {
        display: none;
    }
}
/* %common tooltip style */
%common-tooltip-syle-before {
    content: "";
    position: absolute;
    transition: $tooltip-animation;
}

%common-tooltip-syle-after {
    content: attr(data-tooltip);
    width: $tooltip-width;
    position: absolute;
    font-size: $tooltip-font-size;
    background: $tooltip-bgcolor;
    border-radius: $tooltip-border-radius;
    color: $tooltip-text-color;
    padding: $tooltip-padding;
    text-align: $tooltip-text-align;
    transition: $tooltip-animation;
}

/* ===================tooltip position =================== */
/* Right Tooltip */
a[data-tooltip-position="right"] {
    position: relative;
    $right-offset: 0px;

    &:after {
        left: calc(100% + #{$right-offset} + #{$tooltip-triangle-size});
        top: 50%;
        transform: translateY(-50%);

        @extend %common-tooltip-syle-after;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }

    &:before {
        border-top: ($tooltip-triangle-size/2) solid transparent;
        border-right: $tooltip-triangle-size solid $tooltip-triangle-bgcolor;
        border-bottom: ($tooltip-triangle-size/2) solid transparent;
        left: calc(100% + #{$right-offset});
        top: 50%;
        transform: translateY(-50%);

        @extend %common-tooltip-syle-before;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }
}

/* Tooltip left */
a[data-tooltip-position="left"] {
    &:after {
        right: calc(100% + #{$tooltip-triangle-size});
        top: 50%;
        @extend %common-tooltip-syle-after;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
        transform: translateY(-50%);
    }

    &:before {
        border-top: ($tooltip-triangle-size/2) solid transparent;
        border-left: $tooltip-triangle-size solid $tooltip-triangle-bgcolor;
        border-bottom: ($tooltip-triangle-size/2) solid transparent;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);


        @extend %common-tooltip-syle-before;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }
}

/* Tooltip top */
a[data-tooltip-position="top"] {
    &:after {
        bottom: calc(100% + #{$tooltip-triangle-size} );
        left: calc( 50% - (#{$tooltip-width} / 2 ));

        @extend %common-tooltip-syle-after;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }

    &:before {
        border-top: $tooltip-triangle-size solid $tooltip-triangle-bgcolor;
        border-right: $tooltip-triangle-size solid transparent;
        border-left: $tooltip-triangle-size solid transparent;
        bottom: 100%;
        left: calc(50% - (#{$tooltip-triangle-size} / 2));

        @extend %common-tooltip-syle-before;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }
}

/* Tooltip bottom */
a[data-tooltip-position="bottom"] {
    &:after {
        top: calc(100% + #{$tooltip-triangle-size} );
        left: calc( 50% - (#{$tooltip-width} / 2 ));

        @extend %common-tooltip-syle-after;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }

    &:before {
        border-left: $tooltip-triangle-size solid transparent;
        border-right: $tooltip-triangle-size solid transparent;
        border-bottom: $tooltip-triangle-size solid $tooltip-triangle-bgcolor;
        top: 100%;
        left: calc(50% - (#{$tooltip-triangle-size} / 2));

        @extend %common-tooltip-syle-before;
        @extend %make-it-invisible;
        @extend %disable-on-mobile;
    }
}


a[data-tooltip] {
    position: relative;

    &:hover {
        &:after,
        &:before {
            @extend %make-it-visible;
        }
    }
}

/* if data tooltip is empty */
a[data-tooltip=""] {
    &:after {
        content: "Loading...";
    }
}
